Package: com.551uk.jadecompanion
Name: JadeCompanion
Version: 0.6.1
Architecture: iphoneos-arm64
Description: Fixes Jade's connectivity hold menus on iOS 16 and opens the proper Control Center views.
Author: 551UK
Maintainer: 551UK
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0), byg.iosios.net.jade (>= 1.0.5)
